header {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
  }

  .logo{
    border-radius: 40px;
    max-width: 5rem;
    max-height: 5rem; /* Ajustez la taille du logo selon vos besoins */
    margin-right: 10rem; /* Espace entre le logo et les onglets */
  }

  .navbar{
    background-color: #ff9292 !important;
  }

  
  

  